/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

header .uabb-cl-ul li h4{
	color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size:0;
    text-transform: uppercase;
}
header .uabb-cl-ul li:last-child h4 a:first-child{
	display: none;
}
header .phone.retailer{
	margin-top: -10px;
	display: block;
}
header .uabb-cl-ul{
	display: flex !important;
	align-items: center;
}

@-moz-document url-prefix() {
 	.bx-wrapper .bx-loading{
		display: none !important;
	}
	.fl-builder-content .bx-wrapper .bx-viewport{
		overflow: visible !important;
	}
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 140px;
	width: 100%!important;
    padding: 5px 20px;
}
.custom_searchModule .fl-row-content-wrap {
	padding: 20px!important;
}
#breadcrumbs {
    background: transparent!important;
    text-shadow: -1px 1px 5px #000!important;
    font-size: 16px!important;
    font-weight: 600!important;
	position: absolute;
    top: 163px;
    z-index: 10;
    width: 100%;
}
#breadcrumbs a:hover{
	color: #f4f4f4!important;
}

#breadcrumbs .breadcrumb_last{
	color: #f4f4f4!important;
}
#responsive-menu-container #responsive-menu-additional-content .storename a{
	color: #fff!important;
}
.gfield .gfield_time_ampm {
	max-width: 60px!important;
}

.gfield .gfield_time_ampm > select{
	min-width: 100%!important;
	padding: 13.5px 5px!important;
}
.topBar .fl-col ul li ul.storename{
	display: inline-block!important;
}
.product-detail-layout-5{
	padding-top: 60px;
}
.topBar .fl-col ul li ul.storename li{
	margin: 0px!important;
}
.gfield .ginput_container_time > input{
	padding: 15px 8px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.gfield {
	padding-right: 15px!important;
}
h1.fl-post-title{
	color: #000!important;
} 
.topBar a.phone span:before{
	content: '\f095';
    font: normal normal normal 18px/1 FontAwesome;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
    vertical-align: middle;
}
.firefox .fl-content-slider .bx-loading {
	display: none!important;
}
.firefox .fl-content-slider .fl-slide {
	visibility: visible!important;
}
.custom_searchHeader .fl-icon:hover{
	cursor: pointer;
}
h1.fl-heading span{
	font-size: 72px !important;
}
.fl-post-image-beside{
	width: 100% !important; 
}
.fl-post-image-beside img{
	width: 100% !important;
}
ul.gfield_checkbox li{
	text-align: left !important;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: -1px !important;
}
.uabb-image-carousel .uabb-image-carousel-content .uabb-gallery-img{
	max-height: 200px !important;
}
.fl-content.fl-content-left.col-md-8,
.fl-sidebar.fl-sidebar-right.col-md-4{
	margin-top: 190px;
	padding-top: 30px;
}
#responsive-menu-additional-content .phone span:before{
	content: "\f879";
	font-family: "Font Awesome 5 Free";
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	font-size: 14px;
	margin-right: 5px;
	font-weight: 900;
}
.gform_wrapper .gfield_time_hour i{
	    margin-top: -3px !important; 
}
.bx-wrapper .bx-pager {
    bottom: -26px !important;
}

.gform_wrapper .gfield_time_hour input,
.gform_wrapper .gfield_time_minute input,
.gform_wrapper .gfield_time_ampm select{
	width: 100% !important;
	text-align: center;
}
.post-349396  .direction a{
	border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}
.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
}
.button-wrapper-default > a{
	text-transform: uppercase!important;
}
.fl-main-content > .product-banner-img {
	background-color: rgba(0, 0, 0, 0.35)!important;
    background-blend-mode: multiply;
}
.store-opening-hrs {
  padding-left: 20px!important;	
}
@media (device-height: 1024px) and (device-width: 768px) and (orientation: portrait){
	.fl-row-full-height .fl-row-content-wrap {
    	min-height: 600px !important;
	}
	.pPad > .fl-col-content{
	padding: 20px!important;
}
}
@media (max-width: 1024px) and (min-width: 768px){
	.pPad > .fl-col-content{
	padding: 20px!important;
}
h1.fl-heading span, h1.fl-heading {
    font-size: 55px !important;
}
.topBar .uabb-creative-link a{
	font-size: 12px!important;
}
.custom_searchModule {
    top: 180px;
}

}
@media screen and (min-width: 992px){
	.search-row{
		padding-top: 170px!important;
	}
	#fl-main-content > div > div > div.product{
		padding-top: 240px!important;
	}
	.search-row .fl-archive-header h1{
		padding: 8px!important;
	    color: #000!important;
	    margin-bottom: 10px!important;
	    font-weight: 700;
	}	
}
@media screen and (min-width: 960px){
.bx-viewport .fl-slide.fl-slide-3 .fl-slide-photo{
	    margin-top: 300px;
}

.sHeading h1 span{
	font-size: 40px!important;
}	
.fl-page-bar .storename .phone a {
    font-size: 14px!important;
}	
.fl-page-bar-nav>li>a {
    padding: 2px 10px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
}
.fl-page-bar .storename .phone a span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
    font-size: 18px!important;
}
#djcustom-header {
    position: absolute!important;
    top: 30px!important;
}
	.sub-menu a{
	color: #000!important;
}
}

@media screen and (max-width: 1024px){
		ul#menu-copyright-bar-menu li a{
		padding: 14px 12px !important;
	}
}
@media screen and (max-width: 1023px){
	header > .fl-row:first-child,
	header > .fl-row.fl-row-bg-gradient .fl-col-group .fl-col:nth-child(2){
		display: none;
	}
	header > .fl-row.fl-row-bg-gradient .fl-col-group .fl-col{
		max-width: 100%; 
	}
	header{
		position: static !important;
    	background: #000;
	}
	header.fl-post-header{
		background: transparent;
	}
	header .uabb-photo.uabb-photo-align-center {
    	text-align: left;
	}
		#responsive-menu-container #responsive-menu-search-box, #responsive-menu-container #responsive-menu-additional-content, #responsive-menu-container #responsive-menu-title {
		padding: 10px 5% !important;
	}
	.fl-content.fl-content-left.col-md-8,
	.fl-sidebar.fl-sidebar-right.col-md-4{
		margin-top: 0px;
		padding-top: 0px;
	}

}
@media screen and (max-width: 768px){

#breadcrumbs {
    top: 140px!important;
}	
h1{
	line-height: 1.2em!important;
}	
.search-row .fl-archive-header{
	background-color: #fff!important;
}
.search-row .fl-archive-header h1{
	padding: 8px!important;
	color: #000!important;
	margin-bottom: 10px!important;
	font-weight: 700;
}
	ul#menu-copyright-bar-menu {
		display: flex !important;
		align-items: center;
		justify-content: center;
	}
	.uabb-heading-wrapper  h1.uabb-heading span{
		font-size: 72px !important;
	}
	.max-width-issue{
		max-width: 400px !important;
		margin: 0 auto !important;
	}
	ul#menu-flooring-menu,
	ul#menu-inspiration-menu,
	ul#menu-services,ul#menu-about-us{
		text-align: center;
	}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		padding: 0 !important;
	}
	.fl-slide-0 .fl-slide-foreground{
		position: absolute !important;
		top: 40%;
		left: 0;
		z-index: 1;
		right: 0;
	}
	.fl-slide-0 .fl-slide-foreground .fl-slide-content{
		background: transparent !important;
	}
}
@media screen and (max-width: 450px){
	.product-detail-layout-5 {
    padding-top: 100px;
}
	.covid-banner{
		position: static !important;
	}
	#breadcrumbs {
    top: 100px!important;
}
	header .uabb-photo-content .uabb-photo-img{
		width: 160px;
	}	
	h1.fl-heading span,
	.uabb-heading-wrapper  h1.uabb-heading span{
		font-size: 52px !important;
	}
	ul#menu-copyright-bar-menu{
		padding-bottom: 100px;
	}
	.fl-slide-0 .fl-slide-foreground{
		top: 30%;
	}
	button#responsive-menu-button{
		width: 40px !important;
		height: 40px !important;
		top: 27px !important;
	}
}